[submodule "Dota2Dispenser.Shared"]
	path = Dota2Dispenser.Shared
	url = https://github.com/Urantij/Dota2Dispenser.Shared.git
	branch = steamkit3
[submodule "SteamKitDota2"]
	path = SteamKitDota2
	url = https://github.com/Urantij/SteamKitDota2.git
	branch = steamkit3
